/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100%;
}

/* Container to centralize the content */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

/* Keyhole layout */
.keyhole-container {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.keyhole-background {
    width: 100%;
    height: auto;
    display: block;
}

.text-content {
    position: absolute;
    top: 15%;  /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    text-align: center;
    color: black;  /* Assuming black text inside the keyhole */
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.description {
    font-size: 1em;
}

.nav-buttons {
    position: absolute;
    bottom: 5%; /* Adjust as needed */
    left: 70%;
    transform: translateX(-50%);
    width: 80%; /* This makes the container 80% of the parent container's width */
    display: flex;
    justify-content: 20px;
}

.nav-buttons a img {
    height: 15vh; /* Use viewport height for flexible sizing */
    max-height: 80px; /* Optional: Maximum height to ensure images don't get too large */
    width: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease-in-out; /* Smooth scaling on hover */
}

.nav-buttons a:hover img {
    transform: scale(1.1); /* Slightly enlarges icons on hover */
}

@media (min-width: 1600px) {
    .nav-buttons a img {
        height: 35vh; /* Further increase the height on very large screens */
        max-height: none; /* Remove maximum height restriction */
    }
}

@media (max-width: 1200px) {
    .nav-buttons a img {
        height: 45vh; /* Increase the height on smaller screens for better visibility */
        max-height: 70px; /* Adjust maximum height for smaller screens */
    }
}

@media (max-width: 600px) {
    .nav-buttons a img {
        height: 40vh; /* Further increase for very small screens */
        max-height: 60px; /* Smaller maximum height on very small devices */
    }
}
